@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --color-dark-blue: #002D72;
    --color-light-blue: #68ACE5;
    --color-light-blue-300: #e2f2ff;

  }
}

.carousel {
  scroll-snap-type: none !important;  /* Disable snapping on the container */
}

.carousel-item {
  scroll-snap-align: none !important;  /* Disable snapping for individual items */
}

html {
  scroll-behavior: smooth;  /* Ensure smooth scrolling when clicking anchor links */
}