@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --color-dark-blue: #002d72;
    --color-light-blue: #68ace5;
    --color-light-blue-300: #e2f2ff;
  }
}

.carousel {
  scroll-snap-type: none !important; /* Disable snapping on the container */
}

.carousel-item {
  scroll-snap-align: none !important; /* Disable snapping for individual items */
}

@layer components {
  .content-borders {
    @apply relative md:mx-8 bottom-8 bg-white border-lightBlue border-b-0 border-t-2 md:border-y-2 pt-10 pb-4 px-2 md:px-8 shadow-none md:shadow-none shadow-slate-400;
  }

  .image-group-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .image-group {
    @apply flex h-auto object-cover;
  }

  .button-lightBlue {
    @apply relative w-full bg-lightBlue-300 py-2 my-2 px-4 md:rounded-md hover:shadow-md shadow-slate-400;
    object-fit: cover;
  }

  .text-body {
    @apply font-light mb-2;
  }
}

html {
  scroll-behavior: smooth;
}
